* {
  margin: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

body {
  font-family: "Quicksand", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

.MuiListItemIcon-root {
  min-width: 30px !important;
}
.MuiListItem-root {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
